html,
body {
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    color: #004da0;
    text-decoration: none;
}

/* 文字反白 */
::selection {
    color: #30b49f;
    background: rgba(241, 241, 241, 0.7);
}
::-moz-selection {
    color: #30b49f;
    background: rgba(241, 241, 241, 0.7);
}
